# Виртуальное окружение
venv/
__pycache__/

# Локальные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Файлы IDE
.env
.vscode/
.idea/

# Если есть node_modules
node_modules/

# Скрытые файлы macOS
.AppleDouble
.LSOverride

# Бэкапы
*~
*.bak